<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealEstate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RealEstate.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header-info">
            <div class="email-contact center-content">
                <img src="./icons/envelope.png" alt="envelope"></img>
                info@realitintense.org
            </div>
            <div class="tel-contact center-content">
                <img src="./icons/telephone.png" alt="telephone">
                +420 420 696 969
            </div>
        </div>
        <nav>
            <div class="logo-container">
                <img src="./images/logo-dark.png" alt="firm-logo">
            </div>
            <ul class="menu">
                <li class="nav-item-selected"><a href="./index.html">Home</a></li>
                <li><a href="./detail.html">Katalog</a></li>
                <li><a href="contact.html">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RealEstate - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
