<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealEstate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/RealEstate.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/EstateOffers/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/reusableClasses.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/EstateOffers/detail.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header-info">
            <div class="email-contact center-content">
                <img src="/images/icons/envelope.png">
                info@realitintense.org
            </div>
            <div class="tel-contact center-content">
                <img src="/images/icons/telephone.png">
                +420 420 696 969
            </div>
        </div>
        <nav>
            <div class="logo-container">
                <img src="/images/rest/logo-dark.png" alt="firm-logo">
            </div>
            <ul class="menu">
                <li class="nav-item-selected"><a asp-controller="EstateOffers" asp-action="Index">Home</a></li>
                <li><a>Katalog</a></li>
                <li><a>Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
