<main class="main-index">
    <section class="search-bar-container">
        <h1 class="search-bar-h1">Vyberte si svuj novy byt</h1>
        <form class="search-bar-form">
            <input type="text" name="search-bar" class="search-bar-text" placeholder="Vyhledat podle mesta"
                   required>
            <div class="search-bar-button-container">
                <button class="btn-orange search-bar-button" type="submit">HLEDAT</button>
            </div>
        </form>
    </section>
    <section class="filters">
        <a class="dark-layer-over" href="./byty">
            <img src="Images/Rest/home-img-03-442-280.jpg">
            <label>Flats</label>
            <div class="subtext">32 nabídek</div>
        </a>
        <a class="dark-layer-over" href="./luxusni">
            <img src="images/Rest/home-img-04-442-280.jpg">
            <label>Luxury</label>
            <div class="subtext">2 nabídky</div>
        </a>
        <a class="dark-layer-over" href="./domy">
            <img src="images/Rest/home-img-01-442-280.jpg">
            <label>Houses</label>
            <div class="subtext">16 nabídek</div>
        </a>
        <a class="dark-layer-over" href="./chaty">
            <img src="images/Rest/home-img-02-442-280.jpg">
            <label>Cottages</label>
            <div class="subtext">7 nabídek</div>
        </a>
    </section>
    <section class="items-section">
        <div class="center-content choice-header-container">
            <div class="partial-border">
                <h2>Nase nabidka</h2>
            </div>
        </div>
        <div>
            @{
                var offers = this.ViewBag.Offers as List<Offer>;
                if (offers == null) return;
                int repeatCount = Math.Min(offers.Count, 6);
                <div class="offers-list">
                    @for (int i = 0; i < repeatCount; i++)
                    {
                        Offer offer = offers[i];

                        <div class="flex-column">
                            <div class="offer-img-container">
                                <a asp-action="Detail">
                                    @{
                                        var image = offer.Images?.First();
                                        string relPath = image != null ? "./Images/Offers/" + image.IdOffer.ToString() + '/' + image.Id.ToString() + ".png" : DefaultParams.NotFoundImg;
                                    }
                                    <img src="@relPath" alt="offered-house">
                                </a>
                            </div>
                            <div class="offer-information">
                                <h3 class="item-name">@offer.Name</h3>
                                <span class="item-price-tag">@offer.Price Kč</span>
                                <p class="item-description">
                                    @{
                                        string addition = offer.Description.Length > 100 ? "..." : "";
                                    }
                                    @(offer.ShortDescription == null ? offer.Description.Substring(0, Math.Min(97, offer.Description.Length)) + addition : offer.ShortDescription)
                                </p>
                            </div>
                        </div>
                    }`
                </div>
            }
        </div>
        <div class="items-view-all-container">
            <a class="btn-orange items-view-all">
                Zobrazit vše
            </a>
        </div>
    </section>
</main>
<section class="experiences">
    <div class="center-content">
        <h2 class="experiences-title partial-border">Zkušenosti zákazníků</h2>
    </div>
    <div class="customer-ratings">
        <div class="rating-container">
            <img class="mr-10" src="./images/Rest/josh_hutcherson_whistle.jpg" alt="lisa">
            <div class="flex-column jf-space-between">
                <p>Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!</p>
                <p class="customer-name">Josh Hutcherson</p>
            </div>
        </div>
        <div class="rating-container">
            <img class="mr-10" src="./images/Rest/nickyCageMeme.png" alt="lisa">
            <div class="flex-column jf-space-between">
                <p">
                    I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered.</p>
                    <p class="customer-name">Nicholas Cage</p>
            </div>
        </div>
    </div>
</section>
<footer class="footer-index">
    <div class="footer-container">
        <div class="newsletter-subscription">
            <h3 class="footer-title">Newsletter</h3>
            <p class="mb-10">Keep up with the company's drug addicts and nymfs, it's not as easy as it seams</p>
            <form class="newsletter-form" method="post">
                <input type="email" class="newsletter-text" placeholder="Zadejte svůj email" required>
                <button class="btn-orange search-bar-button">Odeslat</button>
            </form>
        </div>
        <div class="useful-links">
            <h3 class="footer-title">Užitečné odkazy</h3>
            <ul class="links-list">
                <li>
                    <a href="./bytyPronajem">Byty pronájem</a>

                </li>
                <li class="footer-link-selected"><a href="./bytyProdej">Byty prodej</a></li>
                <li><a href="/.domyPronajem">Domy pronájem</a></li>
                <li><a href="./DomyProdej">Domy prodej</a></li>
            </ul>
        </div>
        <div class="news">
            <h3 class="footer-title">Novinky</h3>
            <div class="news-item">
                <span class="footer-grey-text">4.5.2023</span>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores libero sed animi earum aliquid?
                    Saepe unde fugit aut laudantium enim sequi optio, iure quaerat officia nesciunt, cumque nisi
                    magnam odio.
                </p>
            </div>
            <div class="news-item">
                <span class="footer-grey-text">11.9.2001</span>
                <p>Few offered flats got destroyed</p>
            </div>
        </div>
    </div>
    <div class="center-content">
        <p class="footer-grey-text">Copyright&copy; and all that jazz</p>
    </div>
</footer>