form {
    padding: 3% 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

input, textarea, select {
    margin-bottom: 5px;
}

.offer-parameters, .buttons {
    grid-column: 1/3;
}

    .offer-parameters tr {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

        .offer-parameters tr td, .offer-parameters tr th {
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
        }

    .offer-parameters .images {
        height: 100px;
    }

.buttons {
    display: flex;
    justify-content: space-evenly;
}

    .buttons > * {
        width: 10%;
        font-size: 1.2em;
    }

.edit-img {
    height: 150px;
}

input[type="checkbox"], input[type="radio"] {
    width: 16px;
    height: 16px;
    margin-bottom: 0 !important;
    margin-left: 4px;
}

.center-td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 10px;
    width: 100% !important;
}
