main {
    display:grid;
    grid-template-columns: 300px 1fr;
}

.aside-container {
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px;
    border: solid 1px #ccc;
    background-color: rgb(250, 250, 250);
    cursor: pointer;
    margin: 0 3%;
}

.aside-container:hover{
    background-color: rgb(235,235,235);
}

    .aside-container > .left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .aside-container > .left-side > .name {
            font-size: 18px;
        }

        .aside-container > .left-side > .subject {
            font-size: 16px;
        }

        .aside-container > .left-side > .last-message {
            font-size: 14px;
        }

.chat-header-container{
    border-bottom: solid 2px #fff;
}

.message-container{
    background-color: grey;
    border: solid 1px #fff;
}