main.messages {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 0 2%;
    margin-top: 1rem;
}

aside.messages {
    height: 100%;
    box-sizing: border-box;
    margin: 0 3%;
    display: grid;
    grid-template-rows: 73.5vh 1fr;
    gap: 1vh;
}

.chats-selection {
    overflow: hidden;
    overflow-y: scroll;
}

#selected-chat {
    background-color: rgb(220,220,220);
    border: solid 1px #aaa;
}


.aside-container {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    border: solid 1px #ccc;
    background-color: rgb(250, 250, 250);
    cursor: pointer;
    box-sizing: border-box;
}

    .aside-container:hover {
        background-color: rgb(220,220,220);
    }

    .aside-container > .left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .aside-container > .left-side > .name {
            font-size: 18px;
        }

        .aside-container > .left-side > .subject {
            font-size: 16px;
        }

        .aside-container > .left-side > .last-message {
            font-size: 14px;
        }



.chat-header-container {
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 0px 25px;
}

.chat-container {
    border-bottom: solid 2px #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    background-color: rgb(253, 253, 253);
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 67vh;
    overflow: auto;
    overflow-y: scroll;
}

.message-header {
    font-size: 10px;
    display: flex;
    margin-right: 2px;
}

    .message-header.small {
        gap: 2px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .message-header.standard {
        justify-content: space-between;
        gap: 6px;
    }

.message-container {
    max-width: 45%;
}

.text-container {
    padding: 6px 4px;
    width: 100%;
    word-wrap: break-word;
}

    .text-container.own {
        background-color: rgba(0, 0, 0, 0.3);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .text-container.foreign {
        background-color: rgba(255,166,0,0.5);
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

.message-send-form {
}

.message-send-input {
    padding: 4px;
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

    .message-send-input:focus {
        border: none;
    }
