.delete-param{
    padding: 3px;
    font-size: 18px;
    cursor:pointer;
    border-radius: 5px;
}
td,th{
    padding: 8px 15% 8px 10% !important;
}

form{
    display: flex;
    gap: 5px;
}

form input{
    width: 200px !important;
    max-width: 100% !important;
}

