.testClassFoo{
color: red;
background-color: blue;
}

.main-detail {
    padding: 0px 15vw 20px 15vw;
}

.detail-image {
    width: 100%;
    margin: 30px auto 5px auto;
}

.detail-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-photos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-around;
    gap: 10px;
}

.sub-photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-photos img:hover {
    transform: scale(1.03);
    transition: 150ms;
}

.dark-layer-over .next {
    position: absolute;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

section.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

section.description > .main-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

section.description img{
    height: 20px;
}

.item-price-description{
    color:grey;
    font-size: 12px;
    text-align: right;
}

.description h3{
    font-size: 28px;
    margin: 0px;
}

.item-name-detail {
    font-weight: 700;
    color: darkorange;
}

.energy-class {
    display: flex;
    background: limegreen;
    color: white;
    padding: 2px 5px;
    align-items: center;
}

.energy-class span{
    font-size: 26px;
    font-weight: 500;
    margin-left: 20px;
}

.loan-calc{
    color: orange;
    text-decoration:underline;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    /* align-items: center; */
}

.detail-description {
    flex-wrap: nowrap;
    margin-bottom: 20px;
}


.detail-parameters {
    display: flex;
    gap: 15px;
}

.detail-parameters>table {
    width: 100%;
    border-spacing: 0px;
    border: none;
}



.detail-parameters>table tr td {
    padding: 4px 8px;
    font-weight: 600;
    font-size: 15px;
}

.detail-parameters>table tr :nth-child(even){
    font-weight: 500;
    font-size: 14px;
    text-align: right;
}

.detail-parameters>table tr {
    background: rgb(255, 225, 191);
}

.detail-parameters>table tr:nth-child(even) {
    background: rgb(255, 243, 229);
}

.contact {
    padding: 10px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.salesman {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.salesman-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.salesman-contact h3{
    color: darkorange;
    font-size: 24px;
}

.salesman-contact a {
    color: black;
}

.salesman-contact>div {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.salesman-name{
    font-size: 18px;
    font-weight: 700;
}

.salesman-awards {
    padding-left: 5px;
}

.salesman-awards>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.award-title{
    width: 100px;
    text-align: center;
    font-size: 14px;
}

.interested-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.interested-form>* {
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2px 5px;
    height: 24px;
}

.interested-form>textarea {
    height: 75px;
}

.interested-form>.fulllane {
    grid-column: 1/3;
}

.interested-button {
    padding: 10px 7px;
    width: 40%;
}

@media (max-width:540px) {
    
    .main-detail{
        padding: 0px 2vw 20px 1.5vw;
    }

    .item-name-detail{
        font-size: 26px;
    }

    .sub-photos{
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    section.description{
        flex-direction: column;
        /* padding-left: 5px; */
    }

    section.description > .main-description{
        flex-direction: column;
        text-align: left;
        /* justify-content: left; */
        align-items: flex-start;
        margin-bottom: 0px;
    }
    
    section.description > .main-description > div{
        margin-bottom: 5px;
    }    

    .item-price-description{
        text-align: left;
    }

    .description :last-child{
        flex-direction: row;
    }

    .description h3{
        font-size: 20px;
        text-align-last: left;
        
    }
    
    .energy-class{
        padding: 1px 2px;
        font-size: 11px;
    }
    
    .energy-class span{
        font-size: 20px;
    }

    .detail-parameters{
        flex-direction: column;
        gap: 8px;
    }

    .detail-parameters>table tr td{
        font-size: 12px;
        padding: 2px 3px;
    }
    .detail-parameters>table tr td .second-item{
        font-size: 14px;
    }
    .contact{
        flex-direction: column;
        padding: 0px;
    }

    .h3-contact{
        font-size: 28px;
    }

    .salesman{
        padding-left: 0;
    }

    .salesman-info{
        display: flex;  
        justify-content: center;
        align-items: center;
    }

    .salesman-awards{
        display: none;
    }
}