@section Styles {
    <link href="~/css/admin/messages.css" rel="stylesheet" />
}
@using RealEstate.Models.ViewModels;
@{
    List<MessageView> messages = (List<MessageView>)this.ViewBag.Messages;
    List<MessageView> chatMessages = this.ViewBag.ChatMessages;
    int n = messages.Count;
    DateTime currentDate = DateTime.Now;
}
<main>
    <aside>
        @foreach (MessageView message in messages)
        {
            <div class="aside-container">
                <div class="left-side">
                    <span class="name">
                        @($"{message.OtherUser.Name} {message.OtherUser.Surname}")
                    </span>
                    <span class="subject">
                        @(message.Subject ?? "No subject")
                    </span>
                    <span class="last-message">
                        @(message.Text.Substring(0, Math.Min(20, message.Text.Length)))
                    </span>
                </div>

                <div class="right-side">
                    <span>@message.DateTimeSentUtc.GetMessageDateString()</span>
                </div>
            </div>
        }
    </aside>
    <section>
        <div class="chat-header-container">
           <h2>

           </h2>
        </div>
    </section>
</main>