@section Styles {
    <link rel="stylesheet" href="~/css/admin/parameters.css" />
}

@{
    List<Parameter> parameters = (List<Parameter>)this.ViewBag.Parameters;
}
<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Value</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Parameter param in parameters)
                {
                    <tr>
                        <td>
                            @param.Value
                        </td>
                        <td>
                            <a asp-action="DeleteParameter" asp-route-idParameter="@param.Id" class="alert-danger delete-param"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        @model StringInputModel
                        <form asp-action="AddParameter">
                            <input asp-for="Value" type="text" class="form-control" required maxlength="30" />
                            <button class="btn btn-success"><i class="bi bi-plus-square"></i></button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>